@{
    ViewBag.Title = "Soma";
}

<h2>Soma</h2>
<form action="/Home/Soma" method="post">
    <input type="text" value="" id="a" name="a"/>
    <input type="text" value="" id="b" name="b"/>
    <input type="submit" value="somar" id="somar" name="somar"/>
</form>
